<div class="header-container">
  <div class="left">
    <span>
      <a [routerLink]="['/home']">
        Book It!
      </a>
    </span>
  </div>
  <div class="right">
    <div class="nav">
      <ul>
        <li> <a [routerLink]="['/browse']">Browse Movies</a></li>
        <ng-container *ngIf="userService.isLoggedIn()">
          <li *ngIf="userService.getUser().role==='user'"> <a [routerLink]="['/bookings']">Bookings</a></li>
          <li *ngIf="userService.getUser().role==='admin'"> <a [routerLink]="['/admin/users']">Manage Users</a></li>
          <li *ngIf="userService.getUser().role==='admin'"> <a [routerLink]="['/admin/movies']">Add Movie</a></li>
          <li *ngIf="userService.getUser().role==='vendor'"> <a [routerLink]="['/vendor']">My Shows</a></li>
          <li *ngIf="userService.getUser().role==='usher'"> <a [routerLink]="['/usher']">Verify Booking</a></li>
          <li> <a [routerLink]="['/profile']">Profile</a></li>
          <li> <a (click)="userService.logout()">Logout</a></li>
        </ng-container>
        <li *ngIf="!userService.isLoggedIn()"> <a [routerLink]="['/login']">Login</a></li>
      </ul>
    </div>
  </div>
</div>
