<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin">


            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Username" required autofocus name="username"
                [(ngModel)]="username">
              <label>username</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
                required [(ngModel)]="password">
              <label>Password</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="login()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
