/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  display: inline-block;
}
