<app-movie-description [movieId]="movieId"></app-movie-description>

<ng-container *ngIf="userService.getUser().role==='user' && shows">
  <h4>Shows Available</h4>
  <p-table [value]="shows" #dt>
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="'date'">
          Date
          <p-sortIcon [field]="'date'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

        </th>
        <th [pSortableColumn]="'time'">
          Time
          <p-sortIcon [field]="'time'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

        </th>
        <th [pSortableColumn]="'price'">
          Price
          <p-sortIcon [field]="'price'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

        </th>
        <th>
          <div>
            <span style="float: left">
              Seats:
            </span>
            <span style="float: right;">
              <input type="number" class="form-control" placeholder="Seats" aria-label="Seats" aria-describedby="basic-addon2"
                style="width:40%;float:left" [(ngModel)]="seats">

            </span>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-show>
      <tr>
        <td>{{show.date}}</td>
        <td>{{show.time}}</td>
        <td>{{show.price}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="book(show)" style="width:50%">Book</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
<div *ngIf="userService.getUser().role==='guest'">
  <a [routerLink]="['/login']">Log In</a> to view and book shows.
</div>
